@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

html, body {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #ffffff;
}

.navbar {
  background: #5787d7;
  color: #FFFFFF;
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  position: fixed;
  top: 0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}

.navbar h1 {
  font-size: 150%;
  font-family: 'Pacifico', cursive;
}

.navbar a {
  color: #FFFFFF;
  text-decoration: none;
}

.burgerbar {
  background: #5787d7;
  color: #FFFFFF;
  width: 25vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: left;
  border-radius: 0px 0px 5px 0px;
}

.burgerbar a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 150%;
  font-weight: bold;
  width: 100%;
  border-bottom: 2px solid;
  font-style: italic;
}

.footer {
  background: #5787d7;
  color: #FFFFFF;
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  position: fixed;
  bottom: 0;
  left:0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.26);
}

.footer h1 {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 125%;
}

.navbar-burger {
  font-size: 40px;
  margin-left: 10px;
  width: auto;
}

.navbar-dot {
  font-size: 27px;
  margin-right: 10px;
  width: auto;
}

.click {
  cursor: pointer;
}

.cat-dropdown {
  margin: 0px;
  height: auto;
  padding: 0px;
  width: 75vw;
  z-index: 1;
}

.cat-dropdown h1 {
  margin: 0px;
  height: auto;
  padding: 0px;
  margin-bottom: 5px;
}

.item {
  margin: 0px;
  width: 75vw;
  background: #f0f0f0;
  color: #444;
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
  font: 13.3333px Arial;
  flex-grow: 1;
  margin-left: -18px;
}

.item h3 {
  font: 13.3333px Arial;
  color: #444;
  width: auto;
  flex-grow: 1;
  margin-left: 18px;
}

.sidebar {
  height: calc(100vh - 100px);
  width: 25vw;
  background: #5787d7;
  color: #FFFFFF;
  position: fixed;
  top: 50px;
  right: 0px;
  display: flex;
  flex-direction: column;
  z-index: 5;
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: baseline;
}

.sidebar-header {
  width: 100%;
  text-align: center;
}

.sidebar-container {
  margin-left: 5px;

}

.sidebar-container h3 {
  margin-bottom: 0px;
}

.body-container {
  color: #000000;
  width: 75vw;
  height: calc(100vh - 100px);
  position: fixed;
  top: 50px;
  left:0px;
}

button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: 0px;
}

button.accordion.active, button.accordion:hover {
  background-color: #ddd;
}

div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: flex;
  flex-direction: column;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.force-left {
  left: 25vw !important;
}