@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

html, body {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #ffffff;
}

.navbar {
  background: #5787d7;
  color: #FFFFFF;
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  position: fixed;
  top: 0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}

.navbar h1 {
  font-size: 150%;
  font-family: 'Pacifico', cursive;
}

.navbar a {
  color: #FFFFFF;
  text-decoration: none;
}

.burgerbar {
  background: #5787d7;
  color: #FFFFFF;
  width: 25%;
  height: calc(75vh - 50px);
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 9998;
  display: flex;
  flex-direction: column;
  align-items: left;
  border-radius: 0px 0px 5px 0px;
}

.burgerbar a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 150%;
  font-weight: bold;
  width: 100%;
  border-bottom: 2px solid;
  font-style: italic;
}

.footer {
  background: #5787d7;
  color: #FFFFFF;
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.26);
}

.footer h1 {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 150%;
}

.navbar-burger {
  font-size: 40px;
  margin-left: 10px;
  width: auto;
}

.navbar-dot {
  font-size: 27px;
  margin-right: 10px;
  width: auto;
}

.click {
  cursor: pointer;
}

.cat-dropdown {
  margin: 0px;
  height: auto;
  padding: 0px;
}

.cat-dropdown h1 {
  margin: 0px;
  height: auto;
  padding: 0px;
  margin-bottom: 5px;
}

.item {
  margin: 0px;
  width: 100%;
  background: #f0f0f0;
}

.sidebar {
  height: calc(100vh - 100px);
  width: 25vw;
  background: #5787d7;
  color: #FFFFFF;
  position: fixed;
  top: 50px;
  right: 0px;
}
