<div style="height: 50px; width: 100%;"></div>

<div class="body-container">
	<% @categories.each do |cat| %>
		<button class="accordion"><%= cat.name %></button>
		<div class="panel">
			<% cat.items.each do |item| %>
				<div class="item click">
					<h3><%= item.name %></h3>
				</div>
			<% end %>
		</div>
	<% end %>
</div>


