<div style="height: 50px; width: 100%;"></div>

<div class="body-container">
	<% @categories.each do |cat| %>
		<button class="accordion"><%= cat.name %></button>
		<div class="panel">
			<% cat.items.each do |item| %>
				<h1 class="item click"><%= item.name %></h1>
			<% end %>
		</div>
	<% end %>
</div>


