<div style="height: 50px; width: 100%;"></div>

<% @categories.each do |cat| %>
	<div class="cat-dropdown">
		<h1><%= cat.name %> v</h1>
		<div class="items-box">
			<% cat.items.each do |item| %>
				<h1 class="item"><%= item.name %></h1>
			<% end %>
		</div>
	</div>
<% end %>

<% if !cookies[:order].nil? %>
	<%= JSON.parse(cookies[:order]).inspect %>
<% end %>

<script type="text/javascript">				
	$(document).ready(function(){
		$('.items-box').hide();
		$('.cat-dropdown').click(function(){
			$(this).find('.items-box').slideToggle();
		});
		$('.item').click(function(){
			location.href = ('/order_cookies/add_to_order?item=' + ($(this).text()) )
		});
	});
</script>


